---
import { Image } from "astro:assets";
import config from "@/config/config.json";
const { src } = Astro.props;
const {
   title,
}: {
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand block">
  
     <h5>{title}</h5> 
    
</a>
